nature_12K.zip
nature_12K/
.vscode/settings.json
inaturalist_12K/
*.ipynb_checkpoints
*.pyc
__pycache__/
__pycache__/
wandb/
models/
!models/jfgs0vwk/driven-sweep-89
PartB_models/*
PartB_models.zip
PartC_yolo/videos/BurningMan.mp4
PartC_yolo/videos/flood.mp4
PartC_yolo/videos/floodToDetect.mp4
